.container {
	width: 60%;
	margin: 0 auto;
	margin-top: 2rem;
	overflow: hidden;
}

.input {
	width: 100%;
	height: 2rem;
	font-size: 1.2rem;
	line-height: 2rem;
	border:  none;
	outline: none;
	border-bottom: 2px solid #b6b1b4;
	color: #b6b1b4;
	background: none;
}

.ul {
	width: 100%;
	height: 6.3rem;
	overflow: scroll;
	padding: 0;
	margin: 0;
	float: left;
	background: #dfdfdf;
}

.li {
	width: 100%;
	height: 1.4rem;
	line-height: 1.4rem;
	padding: 0.1rem;
	font-size: 1rem;
	list-style: none;
	overflow: hidden;
	text-overflow: ellipsis;
}

.li:hover {
	background: #0391fe;
}