.container {
	margin: 3.5rem auto;
	padding: 0 2rem
}

.main {
	padding: 0px;
	margin:  0px auto;
	width: 90%;
	text-align: start;
}

.question {
	
}

.option {
	display: inline-block;
	border: 1px solid #3c3c3c;
	border-radius: 50%;
	height: 1.4rem;
	width: 1.4rem;
	line-height: 1.4rem;
	text-align: center;
}

.text {
	display: block;
	margin: 0 auto;
	outline: none;
	resize: none;
	border: 1px solid #adadad;

}

.button {
	display: block;
	width: 300px;
	height:  2.5rem;
	border:  none;
	outline: none;
	border-radius: 5px;
	background: #00bc98;
	margin:  2rem auto;
	color:  white;
}

.image {
	width: 80%;
	display: block;
	margin:  1rem auto;
}

.li {
	list-style: none;
	text-align: left;
}

.text_li {
	list-style: none;
	line-height: 2.4rem;
	text-align: left;
}

.optionText {
	margin-left: 0.5rem;
	line-height: 1.4rem;
}

.optionImage {
	width: 60%;
	display: inline-block;
	margin-left: 0.2rem 1rem 2rem;
	vertical-align: top;
}

@media screen and (min-width: 800px) {
	.container {
		position: absolute;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right:  0px;
		background: #eeeeee;
		margin: 50px auto 0px;
	}

	.main {
		width: 800px;
		height: 500px;
		background: #fff;
		margin: 50px auto 100px;
		border-radius: 15px;
		font-size: 16px;
		box-sizing: border-box;
		padding: 40px 40px;
		text-align: left;
	}
	
	.text_li {
		width: 100%;
		border: 1px solid #eeeeee;
		margin-top: 10px;
		box-sizing: border-box;
		padding-left: 10px;
	}
	
	.ul {
		width: 100%;
		margin: 0 auto;
	}

	.text_li:hover {
		background: #eee;
		color: #00bc98;
	}

	.textarea {
		width: 100%;
		padding: 0.5em;
		font-size: 16px;
	}

}