*{
	margin:  0px;
	padding:  0px;
}

body {
	width: 100%;
	height: 100%;
	font-size: 12px;
	text-align: center;
}

/* 主页 */
#logo{
	display: block;
	width: 80%;
	animation-name: logo;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

/* .button {
	display: inline-block;
	width: 6rem;
	height: 2rem;
	border-radius: 15px;
	background: #2894ff;
	text-align: center;
	margin: 0px 1rem;
} */

.index-button {
	animation-name: buttons;
	animation-duration: 1.5s;
	animation-delay: 1s;
	animation-timing-function: ease;
	animation-fill-mode: backwards;
}

/* .button a{
	text-decoration: none;
	color:  #fff;
	line-height: 2rem;
}
 */
@keyframes logo {
	from {
		margin: -100% auto 15%;
		opacity: 0;
	}
	to{
		margin: 50% auto 15%;
		opacity: 1;
	}
}

@keyframes buttons {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


